<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CalificacionBancariaDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CalificacionBancariaDesktop.Properties.Settings.GD2C2010ConnectionString"
            connectionString="Data Source=(local)\\SQLSERVER2005;Initial Catalog=GD2C2010;User ID=gd;Password=gd2010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CalificacionBancariaDesktop.Properties.Settings>
            <setting name="f" serializeAs="String">
                <value>True</value>
            </setting>
        </CalificacionBancariaDesktop.Properties.Settings>
    </userSettings>
</configuration>